<!doctype html>
<html>
<head>
  <title>ringmark</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=300, initial-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="stylesheet" href="dist/style.css" type="text/css">

  <meta property="og:title" content="Ringmark" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://rng.io/" />
  <meta property="og:site_name" content="Ringmark" />
  <meta property="og:image" content="http://rng.io/site/img/ringmark.png"/>
  <meta property="fb:admins" content="20901205" />

  <script src="dist/ringmark.min.js"></script>
  <script src="dist/application.min.js"></script>
</head>
<body>
  <header class="container">
    <img src="site/img/ringmark.png" width="84">
    <h1>ringmark</h1>
  </header>
  <section class="container constrain">
    <canvas id="canvas" width="300" height="300"></canvas>
  </section>
  <section id="rng-view-summary" class="container"></section>
  <section id="rng-view-report" class="container"></section>

  <aside class="container">
    <span id="rng-view-completed"></span>
    <a href="/about">ringmark,</a>
    <a href="/history">v1.4.0</a>
  </aside>

<!--
  <section id="rng-view-more" class="container">
    <a href="/apps" class="rng-view-primary-link">What Can I Make With This Device?</a>
  </section>

 -->

  <aside id="rng-view-adevices" class="container">
    <span id="rng-view-devices"></span>
  </aside>
  <!-- <section id="rng-view-devices" class="container hide">
  </section>
 -->

  <script id="summary-tpl" type="text/template">
  Ring <%= ring %> Complete <em>(<%= total %> tests)</em>.
  </script>


  <script id="finished-tpl" type="text/template">
  Finished. Scroll down for results.
  </script>

  <script id="completed-tpl" type="text/template">
  Completed <%= featureCount %> features <em>(<%= total %> tests)</em>.
  </script>

  <script id="testing-tpl" type="text/template">
  Testing: <%= title %>...
  </script>

  <script id="devices-tpl" type="text/template">
    <select id="rng-view-sdevices"><option>Choose a different device</option><%= options %></select>
  </script>

  <script id="report-tpl" type="text/template">
  <details id="ring<%= ring %>" class="ringdetail">
    <summary class="ring">
      <h2>r.<%= ring %></h2> Ring <%= ring %>
      <span class="results">(<%= failed %> failed, <%= passed %> passed.)</span>
    </summary>
    <% if ( description ) { %>
    <p><%= description %></p>
    <% } %>
  </details>
  </script>

<!--
  <script id="apptype-tpl" type="text/template">
  <details>
    <summary class="apptype">
      <h2><%= name %></h2>
    </summary>
    <p><%= description %></p>
    <%= features %>
  </details>
  </script>
 -->

  <script id="interrupted-tpl" type="text/template">
  <details id="ring<%= ring %>" class="ringdetail">
    <summary class="ring ringfailed">
      <h2>r.<%= ring %></h2> Ring <%= ring %>
      <span class="results">Did not run because Ring <%= previous %> failed.</span>
    </summary>
  </details>
  </script>

  <script id="feature-tpl" type="text/template">
  <details>
    <summary class="<%= displayClass %>"><%= title %></summary>
    <% if ( url ) { %>
    <a class="speclink" href="<%= url %>" target="_blank"><%= name %> Specification</a>
    <% } %>
    <dl class="detail">
      <dt>
        <dl class="table-display">
          <%= assertion %>
        </dl>
      </dt>
    </dl>
  </details>
  </script>

  <script id="assertion-tpl" type="text/template">
  <dt class="<%= result %>">&nbsp;</dt><dd><%= message %></dd>
  </script>

  <div id="hat-fixture">

  </div>

  <script src="dist/rings.min.js"></script>
  <!--
    Built, but un-minified test sources:

      http://rng.io/dist/rings.js


    Built, but un-minified fixture sources:

      http://rng.io/dist/fixtures.js

  -->
  <script>
    var _gaq = _gaq || [];
    _gaq.push(["_setAccount", "UA-1464992-53"]);
    _gaq.push(["_setDomainName", "rng.io"]);
    _gaq.push(["_setAllowLinker", true]);
    _gaq.push(["_trackPageview"]);

    (function() {
      var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
      ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
      var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
