@font-face {
  font-family: 'GothicCustom'; 
  src: url(LeagueGothic.eot); 
  src: url(LeagueGothic.woff) format('woff'),      
       url(LeagueGothic.otf) format('opentype'),      
       url(LeagueGothic.svg) format('svg'); 
}
