body {
  background: #fefefe;
  font-family: helvetica;
  margin: 0;
  padding: 0;
}
.container {
  margin: 5px auto;
  width: 299px;
  position: relative;
}
.constrain {
  height: 300px;
}
header {
  height: 76px;
}
header img {
  margin: 0 5px 0 5px;
}
aside {
  text-align: left;
}
aside a {
  font-size: 11px;
  margin-top: 20px;
  padding: 3px 0 3px 0;
}
aside span {
  font-size: 11px;
  margin-top: 20px;
  padding: 3px 0 3px 0;
}
h1 {
  text-align: center;
  margin: 0;
  font-size: 48px;
  color: black;
  font-weight: 700;
  margin: 0;
  top: -8px;
  padding: 0;
  line-height: 1;
  letter-spacing: -2px;
  position: relative;
  display: inline;
}
h3 {
  margin-bottom: 0;
}
h4 {
  margin: 4px 0
}

p {
  margin-top: 5px;
  font-family: georgia, serif;
  font-size: 16px;
}
ul {
  margin: 0;
}
label {
  font-size: 12px;
}
a {
  text-decoration: none;
  color: #009;
  font-weight: normal;
}
#canvas {
  top: 81px;
  z-index: 10;
}
#summary {
  font-weight: bold;
  font-size: 18px;
}
summary {
  color: #333;
  padding: 3px 6px;
  cursor: pointer;
  margin: 7px 0px 0px 0;
}
.ringdetail {
  /*border-bottom: 1px solid rgb(182, 184, 186);*/
}

.ring {
  font-size: 15px;
  padding: 4px 10px 6px 10px;
  color: #fff;
  background: #000;
}

.ringpassed {
  color: rgb(0, 199, 59);
}
.ringfailed {
  /*#bbb*/
  color: rgb(187, 187, 187);
}
.ring h2 {
  display: inline;
}

.apptype {
  font-size: 12px;
  padding: 4px 10px 6px 10px;
/*  color: rgb(103, 103,103);
  background: #fff;*/
  color: #fff;
  background: #000;

}
.apptype h2 {
  display: inline;
  font-size: 16px;
}

.ring + p, .apptype + p {
  color: rgb(103, 103,103);
  font-size: 14px;
  font-family: helvetica;
  margin-left: 12px;
}


summary.pass, summary.fail {
  font-size: 13px;
  margin-left: 10px;
}
summary.pass {
  background-color: #b7f5bc;
}
summary.fail {
  background-color: #bcbec0;
}
.results {
  margin-top: 10px;
  float: right;
  font-size: 11px;
}
.description {
  margin-top: 10px;
  float: right;
  font-size: 13px;
}
.detail {
  color: rgba(0, 0, 0, 1);
  font-size: 12px;
  margin: 0 14px 0 24px;
  background: #eeefef;
  padding: 0px 10px 0 10px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  display: inline-block;
}

.speclink {
  text-decoration: none;
  color: #009;
  text-align: right;
  display: block;
  background: #CCC no-repeat 245px 6px url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFZJREFUeF59z4EJADEIQ1F36k7u5E7ZKXeUQPACJ3wK7UNokVxVk9kHnQH7bY9hbDyDhNXgjpRLqFlo4M2GgfyJHhjq8V4agfrgPQX3JtJQGbofmCHgA/nAKks+JAjFAAAAAElFTkSuQmCC);
  padding: 5px 19px 5px 5px;
  margin: 0 15px 0 24px;
  font-size: 12px;
}

summary::-webkit-details-marker { display: none; }
summary::-moz-details-marker { display: none; }
summary::-o-details-marker { display: none; }
summary::details-marker { display: none; }

summary:before{
  content: "\25B6";
  margin: 0 5px 0 0;
}
details[open] > summary:before,
summary[aria-expanded="true"]:before{
  content: "\25BC";
}
dl.table-display {
  float: left;
  display: inline-table;
  width: 240px;
  margin: 1em 0;
  padding: 0px;
}
dl.table-ingredient {
  float: left;
  display: inline-table;
  width: 255px;
  margin: 1em 0;
  padding: 0px;
}

.table-display dt {
  clear: left;
  float: left;
  width: 15px;
  margin: 0;
  padding: 5px;
  font-weight: bold;
}

.table-ingredient dt {
  clear: left;
  float: left;
  width: 15px;
  margin: 0;
  padding: 5px;
  font-weight: bold;
}

.table-display dt.pass, .table-ingredient dt.pass {
  background-color: #5BB75B;
}
.table-display dt.fail, .table-ingredient dt.fail {
  background-color: #bcbec0;
}
.table-display dd {
  text-overflow: ellipsis;
  overflow: hidden;
  float: left;
  width: 200px;
  margin: 0;
  padding: 0px 0 20px 7px;
}
.table-ingredient dd {
  text-overflow: ellipsis;
  overflow: hidden;
  float: left;
  width: 200px;
  margin: 0;
  padding: 5px 0 15px 7px;
}

details > * {
  display: block;
}

#hat-fixture {
  visibility:hidden !important;
  left: -1000000px;
  top: -1000000px;
  position: absolute;
}

.sharebuttons {
  margin: 20px 0 0 20px;
  clear: both;
  height: 24px;
}

.changelog {
  font-size: 14px;
  font-family: georgia,serif;
  margin-bottom: 20px;
}

.changelog li {
  margin: 5px 0 5px -20px;
}

.signedoff {
  display: none;
}


.hide {
  display: none;
}

.show {
  display: ;
}

.rng-view-primary-link {
  color: #676767;
}


#rng-view-sdevices, #rng-view-adevices {
  text-align: right;
}
